body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h3, h4 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

aside {
    border: 1px solid black;
    box-shadow: 0 0 5px 3px gray;
}

aside ul.places {
    list-style-type: none;
    text-transform: capitalize;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

aside ul.places li{
    transition: .5s;
}

article img {
    width: 100%;
}

article:not(article:nth-child(1)) {
    display: none;
}

.point::after {
    content: ' 🠔';
}